.container12{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.flex
{
    display: flex;
    gap: 10px;
}
.justify-content {
    display: flex;
    justify-content: space-between;
}
.align-items {
    display: flex;
    align-items: center;
}
.section-y
{
    padding:100px 0px;
}
.sidebar
{
    width:20%;
    padding:20px;
    border: 1px solid ;
    border-radius:20px;
}
.sidebar button {
    background:#f0f9ff;
    border: 1px  solid #A3DAFF;
    padding:5px;
    border-radius:50px;
    margin:10px 30px;
}
.budget-btn
{
    background-color:#091e42;
    padding: 10px;
    border-radius:5px;
    color: white;
}
.a-f
{
    margin-bottom: 0;
}
.right-card
{
    width:80%;
    padding:40px;
}
.category-btn  button{
    padding:3px 10px;
    margin:4px;
    border: 2px solid gray;
    border-radius: 20px;
    background-color:transparent;
    text-transform: capitalize;
}
.img-card {
    width:40%;
}
.card-pic
{
    width:100%;
    height: 200px;
    max-width:330px;
}
.card-pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.card-information
{
    background-color:#fffbdf !important;
    width:100%;
    padding:20px;
    gap:12px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.card-information .gap {
    gap:20px;
}
.card-information h6 {
    margin: 0;
    padding: 0;
}
.card-information hr {
    margin: 0;
    padding: 0;
}
.card-information p {
    color: orange;
    text-transform: capitalize;
    font-weight: 500;
}
.card-information a {
    text-decoration: none;
    color: orange;
    transition:0.3s;
}
.card-information a:hover{
    color:#007bff;
}
.card-information span
{
    color: gray;
    font-size: 14px;
}
.btn-contact1
{
    background-color: orange;
    border: none;
    padding:5px 20px;
    border-radius:5px;
    font-weight:600;
    color: white;
    margin-left:8px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.btn-contact2
{   background-color: transparent;
    border: none;
    padding:5px 20px;
    border-radius:5px;
    font-weight:600;
    color:orange;
}
.btn-contact2:hover
{
    background-color:rgba(255, 166, 0, 0.4);
}
.sidebar input[type="text"]{
    margin: 3px;
    width:100px;
}
.property-btn button
{
    background-color: transparent;
    border: 1px solid grey;
    margin:10px 20px;
    padding:10px 20px;
}
.bedrooms-btn button
{
    border: 1px solid grey;
    background-color: transparent;
    margin:10px 30px;
    padding:5px 20px;
}
.posted-btn button
{
    border: 1px solid grey;
    background-color: transparent;
    padding:5px 10px;
    width:150px;
    text-align: start;
}
@media screen and (max-width:768px) {
    .sidebar  {
       width:100%;
    }
}
@media screen and (max-width: 572px) {
    .sidebar  {
       width:100%;
    }
}
@media screen and (max-width: 1099px) {
    .sidebar button {
        margin: 10px 5px;
    }
}
@media screen and (max-width: 840px) {
    .sidebar button {
        margin: 5px 5px;
        padding: 3px 3px;
    }
}
@media screen and (max-width: 828px) {
    .sidebar button {
        margin: 5px 5px;
        padding:5px 5px;
    }
}
@media screen and (max-width:751px) {
    .sidebar button {
        margin:5px 10px;
        padding:5px 20px;
    }
}
@media screen and (max-width:502px) {
    .sidebar button {
        margin:15px auto;
        padding:5px 20px;
        display: flex;
        align-items: center;
    }
}
@media screen and (max-width: 1010px) {
    .property-btn button {
        margin: 10px 10px;
        padding: 5px 10px;
    }
}
@media screen and (max-width: 1020px) {
    .property-btn button {
        margin: 10px 5px;
        padding: 5px 5px;
    }
}
@media screen and (max-width: 940px) {
    .property-btn button {
        margin: 10px 3px;
        padding: 5px 4px;
    }
}
@media screen and (max-width: 768px) {
    .property-btn button {
        margin: 10px 2px;
        padding:5px 3px;
    }
}
@media screen and (max-width: 1050px) {
    .justify-content {
        display: flex;
        justify-content: space-between;
        gap:5px;
    }
    .budget-btn {
        padding:5px;
    }
}
@media screen and (max-width: 936px) {
    .justify-content {
        display: flex;
        justify-content: space-between;
        gap:5px;
    }
    .budget-btn {
        padding:3px;
    }
}
@media screen and (max-width:768px) {
    .justify-content {
        display: flex;
        justify-content: space-between;
        gap:5px;
    }
    .budget-btn {
        padding:1px;
    }
}
@media screen and (max-width:886px) {
    input[type="range"]{
        width:100px;
    }
}
@media screen and (max-width:699px) {
    input[type="range"]{
        width:90px;
    }
}
@media screen and (max-width:639px) {
    input[type="range"]{
        width:70px;
        padding: 10px;
    }
}
@media screen and (max-width:530px) {
    input[type="range"]{
        width:50px;
        padding: 10px;
    }
}
@media screen and (max-width:678px) {
    input[type="range"]{
        width:100px;
        padding: 10px;
    }
}
@media screen and (max-width:1000px) {
    .posted-btn button {
        width: 120px;
    }
}
@media screen and (max-width:992px) {
    .posted-btn button {
        width:120px;
        padding:5px 5px;
    }
}
/* card  media*/
@media screen and (max-width:768px) {
    .flex {
        width:100%;
        padding:10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
}
@media screen and (max-width:1274px) {
    .right-card {
        width:100%;
        padding:10px;
    }
}
@media screen and (max-width:1210px) {
    .right-card {
        width:100%;
        padding:10px;
    }
}
@media screen and (max-width:999px) {
    .right-card {
        width:100%;
        padding:10px;
    }
}
@media screen and (max-width:999px) {
    .img-card {
        width:100%;
        max-width:300px;
        padding:10px;
    }
}
@media screen and (max-width:768){
    .card-pic img {
        width: 100%;
        height: 100%;
    }
}
@media screen and (max-width:768){
    .card-information {
        width:100%;
    }
}
/* @media screen and (max-width:768){
    .card-information {
        width:100%;
    }
} */
@media screen and (max-width:360){
    .card-information {
        width:100% !important;
    }
}