.center-btns {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.main-div-home {
    position: relative;
}

.all-btns {
    border: 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #000;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.all-btns:hover {
    background-color: #FDA94F;
    text-decoration: none;
    color: #FFF;
}

.banner-img img {
    width: 100%;
}

.bottom-side {
    position: absolute;
    top: 36%;
    width: 100%;
}

.display-flex-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-top: 4px;
}

.form-group {
    padding: 0 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0px;
}

.lebel123 {
    margin-bottom: 0px;
}

.selectbox {
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    outline: none !important;
}

.search-p {
    border: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 490px;
    padding: 10px;
    outline: none;
}

.search {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: orange;
    cursor: pointer;
}

.slider-img {
    width: 100%;
    max-width: 160px;
}

.slider-part {
    display: flex;
    width: 100%;
    background-color: rgb(160, 169, 185);
    gap: 20px;
    align-items: center;
    padding: 0 10px;
}

.image-slider {
    display: flex;
}

.handlePrev {
    display: none;
}

.all-data {
    color: black;
    text-align: center;
    width: 100%;
    max-width: 250px;
    background-color: #FFF;
    margin: 4px auto;
    border-radius: 7px;
    padding: 10px;
}