.center-btns {
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.main-div-home {
    position: relative;
}

.all-btns {
    border: 0;
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #000;
    transition: all 0.4s ease;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.all-btns:hover {
    background-color: #FDA94F;
    text-decoration: none;
    color: #FFF;
}