.cards_section {
  max-width: 1550px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: 100px auto;
  gap: 30px;
}

.cards_section .card {
  max-width: 400px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  text-align: center;
}
.card .card_top {
  background-color: rgb(229 227 227);
  padding: 25px 0;
  position: relative;
}
.card .card_top p {
  font-size: 20px;
  color: rgb(33, 33, 33);
}

.card .card_top h1 {
  font-size: 35px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

.card .card_bottom {
  padding: 10px;
}
.card button {
  width: 100%;
  padding: 10px;
  background-color: orangered;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
}

.card .card_bottom p {
  color: rgb(83, 83, 83);
}

.card_top .listing-badges {
  position: absolute;
  top: 0px;
  z-index: 999;
  right: 0px;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 0px;
  overflow: hidden;
  height: 100px;
}

.card_top .featured {
  float: left;
  transform: rotate(-45deg);
  left: -67px;
  top: 17px;
  position: relative;
  text-align: center;
  width: 200px;
  font-size: 12px;
  margin: 0px;
  padding: 7px 10px;
  letter-spacing: 1.5px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  box-shadow: rgba(2, 0, 0, 0.2) 1px 2px 3px 0px;
  background-color: rgb(255, 61, 0);
}

@media screen and (max-width: 1252px) {
  .cards_section {
    max-width: 1050px;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .cards_section {
    max-width: 900px;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .cards_section .card {
    max-width: 350px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
  }
  .card .card_top p {
    font-size: 18px;
  }

  .card .card_top h1 {
    font-size: 30px;
    font-weight: 400;
  }
  .card button {
    font-size: 18px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .cards_section .card {
    max-width: 300px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
  }

  .card .card_top p {
    font-size: 17px;
  }

  .card .card_top h1 {
    font-size: 25px;
    font-weight: 400;
  }
  .card button {
    font-size: 17px;
    margin-top: 15px;
  }
}
